{# vim: set ft=jinja: #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>

        <link href="{{ url_for('pygments_css') }}" rel="stylesheet" type="text/css">
        <style type='text/css'>
            article {
                width: 660px;
                margin: auto;
                margin-top: 20px;
            }

            article img {
                max-width:100%;
                max-height:100%;
            }
        </style>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                    processEscapes: true
                }
            });
        </script -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.5/es5/tex-mml-chtml.js"></script>
        <!-- https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js -->

        {% block header %}{% endblock %}
    </head>

    <body>
        <article>
        {% block content %}{% endblock %}
        </article>

        {% block footer %}{% endblock %}
    </body>
</html>
