{# vim: set ft=jinja: #}

{% extends "article.html" %}

{% block header %}
<script src="/assets/jquery/2.1.4/jquery.min.js"></script>
<script src="/assets/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}


{% block content %}

<div id="slide_div" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for s in slides %}
        <div class="item">
            {{ s | safe }}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


{% block footer %}
<script>
    $('.carousel').carousel({
        interval: false,
        wrap: false,
    })
    $('.carousel>div>div').first().toggleClass('active')
    $('.carousel').carousel(0)
    $(window).keydown(function(event) {
        if (event.keyCode == 37) { // left
            $('.carousel').carousel('prev')
        } else if (event.keyCode == 39) { //right
            $('.carousel').carousel('next')
        }
    })
</script>
{% endblock %}
